.dialog_box_container {
  border-radius: 8px;
<<<<<<< HEAD
  width: 390px;
  height: 250px;
=======
  width: 500px;
  height: 300px;
>>>>>>> c29371edd6a0f82489e32c66d4f0be855523a5a5
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: black;

  &__close_container {
    display: flex;
    justify-content: flex-end;
    padding: 8px;

    &__close_btn {
      border: none;
      cursor: pointer;
      font-size: 16px;
      & > button {
        color: white;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    & > h1 {
      text-align: center;
    }
  }

  &__body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &__button {
      margin-bottom: 12px;

      button {
        background-color: #6f42c1;
        font-size: 1rem;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken(#6f42c1, 10%);
        }
      }
    }
  }
}
